@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Arial';
    scroll-behavior: smooth;
    transition: 0.3s ease;
}

body {
    --primary-color: white;
    --text: black;
    --text2:#ffeadd;
    --text3: #FFFF;
    --card : white;
   
}

.dark {
    --primary-color: black;
    --text: white;
    --text2: #C70039;
    --text3: #282828;
    --card: #C70039;
  
}

.navbar {
    background-color: #FEA9BC; 
    transition: 0.3s ease-in-out;
    overflow: hidden;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 3vw;
    top: 0;
    z-index: 99999;
}

.navbardark{
    background-color: #C70039;
    transition: 0.3s ease-in-out;
}

.navbar ul {
    list-style: none;
    gap: 2vw;
    align-items: center;
}

.navbar ul h3{
    color: white;
    margin-bottom: 0px;
    font-weight: 800;
}

.navbar ul li a {
    display: block;
    color: white;
    text-decoration: none;
    border-top: 2px solid transparent;
    padding: 5% 2vw;
    transition: all 0.35s ease;
    font-size: 90%;
}

nav ul li a:hover {
    border-top: 0.2vw solid white;
    transform: translateX(2px);
}

#profile-pict-style{
    display: flex;
    width: 50px;
    background-color: #FF8989;
    border-radius: 100px;
    border: solid #ffeadd;
    transform: scaleX(-1);
}

.darkmode-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 105px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: var(--primary-color);
    width: 70px;
    height: 30px;
    border-radius: 50px;
    position: relative;
    padding: 2px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

.fa-moon {color: #FCAEAE;}

.fa-sun {color: #FF8989;}

.checkbox-label .ball {
    background-color: var(--text);
    width: 22px;
    height: 22px;
    position: absolute;
    left: 4px;
    top: 4px;
    right: 4px;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(38px);
}

.isi-1 {
    color: white;
    display: flex;
    align-items: center;
    height: 120vh;
    padding: 1vh 5vw;
    padding-bottom: 4vh;
    font-size: 95%;
    transition: 0.3s ease-in-out;
}

.reverse {
    flex-direction: row-reverse;
}

.reverse img {
    transform: scaleX(-1);
}

.bg {
    background: url(../assets/bg.jpg);
}

.bgdark {
    background: url(../assets/bgdark.jpg);
}

.isi-1 img{
    height: 88vh;
}

.shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.text {
    display: flex;
    gap: 2vh;
    list-style: none;
}

.text a{
    margin-top: 2vh;
    text-decoration: none;
    color: white;
    display: flex;
    background: #FF4655;
    padding: 1vh 2vw;
    border-radius: 30px;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.1;
    transition: box-shadow 0.3s;
}

.text a:hover {
    color: black;
    transform: translateX(2px);
    box-shadow: inset 300px 0 0 0 white;
    
}

.text-about {
    background-color: var(--text2);
    color: var(--text);
    border-radius: 0 10px 10px 0;
    width: 57%;
    height: 100%;
    align-self: center;
    padding: 10%;
    text-align: justify;
    text-justify: inter-word;

}

.text-aboutdark{
    background-color: #282828 !important;
}

.img-about img {

    width: 100%;
    object-fit: cover;
    /* margin-left: 16px; */
}

#katalog {
    background-color: var(--text3);
}

#katalog  h1{
    color: var(--text);
}

.card img {
    /* align-self: center; */
    max-width: 100%;
}

.carousel-item div{
    color: white;
    /* text-shadow: rgba(255,97,150,0.9) 0px 0px 17px; */
    text-shadow: 3px 3px 5px rgba(0,0,0,0.6);
}

.carousel-item img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.card-body{
    background-color: var(--card);
    color: var(--text);
}

.tes{
    color: black;
    font-size: larger;
    font-weight: bolder;
}


.bekgron {
    background-image: url("../assets/about.png") !important; ;
    background-size: cover;
    transition: 0.3s ease-in-out;
}

.bekgron_dark {
    background-image: url("../assets/about_dark.png") !important;
    background-size: cover;
    transition: 0.3s ease-in-out;
}

.footer {
    text-align: center;
    background-color: var(--text3);
    color: var(--text);
    padding-top: 3vh;
}

.fab{
    color: var(--text);
    width: auto;
}

.container1 {
    width: 100%;
    height: 60vh;
}




@media (orientation: portrait) {
    /* .navbar {
        background-color: #FF8989;
    } */

    .navbar ul li a {
        color: var(--primary-color);
    }

    .isi-1 {
        height: 100vh;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-bottom: 4vh;
    } 

    .isi-1 img{
        height: 60vh;
        width: auto;
    }

    .carousel-item img {
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
}



.box2 div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid var(--text2);
    z-index: 1;
}
.box2 div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: mymove 10s linear infinite;    
}
.box2 div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: mymove 7s linear infinite;    
}
.box2 div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: mymove 9s linear infinite;    
}
.box2 div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: mymove 10s linear infinite;    
}
.box2 div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: mymove 6s linear infinite;    
}
.box2 div:nth-child(6){
    top: 60%;
    left: 70%;
    animation: mymove 12s linear infinite;    
}
.box2 div:nth-child(7){
    top: 32%;
    left: 80%;
    animation: mymove 15s linear infinite;    
}
.box2 div:nth-child(8){
    top: 50%;
    left: 25%;
    animation: mymove 16s linear infinite;    
}
.box2 div:nth-child(9){
    top: 5%;
    left: 90%;
    animation: mymove 6s linear infinite;    
}
.box2 div:nth-child(10){
    top: 25%;
    left: 20%;
    animation: mymove 5s linear infinite;    
}
.box2 div:nth-child(11){
    top: 80%;
    left: 92%;
    animation: mymove 7s linear infinite;
}

.box2 div:nth-child(12){
    top: 20%;
    left: 50%;
    animation: mymove 5s linear infinite;
}

.box2 div:nth-child(13){
    top: 20%;
    left: 32%;
    animation: mymove 3s linear infinite;
}

.box2 div:nth-child(14){
    top: 20%;
    left: 10%;
    animation: mymove 2s linear infinite;
}

.box2 div:nth-child(15){
    top: 20%;
    left: 62%;
    animation: mymove 9s linear infinite;
}

.box2 div:nth-child(16){
    top: 20%;
    left: 85%;
    animation: mymove 8s linear infinite;
}


    
@keyframes mymove  {
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.5) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

/* main {
    background-color: #FBAEAE;
} */


/* tablet */


@media screen and (max-width: 768px) {
    .img-about img {
        width: 100%;
        object-fit: cover;
        border-radius: 0px; 
    }

    .text-about {
        background-color: var(--text2);
        color: var(--text);
        border-radius: 0 0 0 0;
        width: 100%; /* Adjust the width as needed */
        padding: 10px;
        margin-top: 0; /* Add some margin for spacing */
        text-align: justify;
        text-justify: inter-word;
    }

    .container-inverse {
        flex-direction: column-reverse;

    }

    #profile-pict-style{
        transform: translateX(0px);
        }
}