@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Arial';
    scroll-behavior: smooth;
    transition: 0.3s ease;
}

body {
    --primary-color: white;
    --text: black;
    --text2:#ffeadd;
    --text3: #FFFF;
}

.dark {
    --primary-color: black;
    --text: white;
    --text2: #C70039;
    --text3: #282828;
}

.navbar {
    background-color: #FEA9BC; 
    transition: 0.3s ease-in-out;
    overflow: hidden;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 3vw;
    top: 0;
    z-index: 99999;
}

.navbardark{
    background-color: #C70039;
    transition: 0.3s ease-in-out;
}

.navbar ul {
    list-style: none;
    gap: 2vw;
    align-items: center;
}

.navbar ul li a {
    display: block;
    color: white;
    text-decoration: none;
    border-top: 2px solid transparent;
    padding: 5% 2vw;
    transition: all 0.35s ease;
    font-size: 90%;
}

nav ul li a:hover {
    border-top: 0.2vw solid white;
    transform: translateX(2px);
}

.darkmode-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 105px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: var(--primary-color);
    width: 70px;
    height: 30px;
    border-radius: 50px;
    position: relative;
    padding: 2px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

.fa-moon {color: #FCAEAE;}

.fa-sun {color: #FF8989;}

.checkbox-label .ball {
    background-color: var(--text);
    width: 22px;
    height: 22px;
    position: absolute;
    left: 4px;
    top: 4px;
    right: 4px;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(38px);
}

.isi-1 {
    color: white;
    display: flex;
    align-items: center;
    height: 120vh;
    padding: 1vh 5vw;
    padding-bottom: 4vh;
    font-size: 95%;
    transition: 0.3s ease-in-out;
}

.reverse {
    flex-direction: row-reverse;
}

.reverse img {
    transform: scaleX(-1);
}

.bg {
    background: url(../assets/bg.jpg);
}

.bgdark {
    background: url(../assets/bgdark.jpg);
}

.isi-1 img{
    height: 88vh;
}

.shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.text {
    display: flex;
    gap: 2vh;
    list-style: none;
}

.text a{
    margin-top: 2vh;
    text-decoration: none;
    color: white;
    display: flex;
    background: #FF4655;
    padding: 1vh 2vw;
    border-radius: 30px;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.1;
    transition: box-shadow 0.3s;
}

.text a:hover {
    color: black;
    transform: translateX(2px);
    box-shadow: inset 300px 0 0 0 white;
    
}

.text-about {
    background-color: var(--text2);
    color: var(--text);
    border-radius: 10px;
    width: 57%;
    height: 100%;
    align-self: center;
    padding: 10%;

}

.text-aboutdark{
    background-color: #282828 !important;
}

.img-about img {

    width: 100%;
    object-fit: cover;
    /* margin-left: 16px; */
}

#katalog {
    background-color: var(--text3);
}

#katalog  h1{
    color: var(--text);
}

.bekgron {
    background-image: url("../assets/about.png") !important; ;
    background-size: cover;
    transition: 0.3s ease-in-out;
}

.bekgron_dark {
    background-image: url("../assets/about_dark.png") !important;
    background-size: cover;
    transition: 0.3s ease-in-out;
}

footer {
    text-align: center;
    color: var(--text);
    background-color: var(--primary-color);
    padding: 3vh;
}

@media (orientation: portrait) {
    /* .navbar {
        background-color: #FF8989;
    } */

    .navbar ul li a {
        color: var(--primary-color);
    }

    .isi-1 {
        height: 100vh;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-bottom: 4vh;
    } 

    .isi-1 img{
        height: 60vh;
        width: auto;
    }

}

/* main {
    background-color: #FBAEAE;
} */
